@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Asap:ital@1&display=swap');

body {
    margin-top: -2rem;
    height: 100%;
    //background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/concrete-wall-background.jpg);
    background: url(https://images.unsplash.com/photo-1580582932707-520aed937b7b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80);
    background-size: cover;
    	font-family: 'Permanent Marker', cursive;
		font-size: 1.6em;
		color: rgba(238, 238, 238, 0.7);
}

.blackboard {
    position: relative;
    width: 40rem;
    margin: 7% auto;
    border: tan solid 12px;
    border-top: #bda27e solid 12px;
    border-left: #b19876 solid 12px;
    border-bottom: #c9ad86 solid 12px;
    box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
    background-color: #007c64;
}

h1 {
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
}

input{
    vertical-align: middle;
    background-color: #009b7d ;
    border: none;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: rgba(238, 238, 238, 0.7);
    font-size: 1.6em;
    line-height: .6em;
    outline: none;
}
.todoList{
    display: flex;
    justify-content: center;
   
}
ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 2.5rem;
}

li{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 0.5rem 1rem;
    
}

i{
    background-color: none;
    color: rgba(238, 238, 238, 0.7);
}
button {
    justify-content: end;
}

.counter {
    text-align: center;
    margin-left: 0 1rem 0 1rem;
}










